<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Update</title>
    <style>
        .button {
          background-color: #4CAF50;
          border: none;
          color: white;
          padding: 15px 32px;
          text-align: center;
          text-decoration: none;
          display: inline-block;
          font-size: 16px;
          margin: 4px 2px;
          cursor: pointer;
        }
        </style>
</head>
<body>
    <div>

            <form action="/update/{{task.id}}" align="center" method="POST" >

                <input type="text" name="task" id = "task" value={{task.task}} >
                <input type="submit" value="Update" class="button">
    
            </form>

    </div>
    
</body>
</html>