<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tasker</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div>

<h1 align="center">TASKER</h1>
        <form action="/" method="POST" align="center" >
          
            <p><b>Task  :</b> <input type="text" name="task" id = "task" ></br></p>
            From:
            <input type="time" name="time1" id="time1" font-size="5">
            To:
            <input type="time" name="time2" id="time2"></br></br>
            <button type="submit" class="button"> Submit</button>
        </form>
        <form action="/getreport" align="center">
          <button  type="submit" class="button" onclick="getreport()"> Get Report</button></br></br>
      </form>
        
        <table border="1" align="center">
                <tr>
                  <th>Tasks</th>
                  <th>From</th>
                  <th>To</th>
                  <th>Status</th>
                  <th>Option</th>
                </tr>
                {% for task in tasks %}
                {% if task.is_deleted == 'no' %}
                <tr>
                  <td>{{task.task}}</td>
                  <td>{{task.time1}}</td>
                  <td>{{task.time2}}</td>
                  <td>{{task.status}}</td>
                  
                  <td><a href = "/delete/{{task.id}}">Delete</a>
                      
                    <a href = "/update/{{task.id}}">Update</a>
                    <a href = "/done/{{task.id}}">Done</a>
                </td>
                {% endif %}
                {% endfor %}
        </table>
    </div>
 
    
</body>
</html>