<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Update</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div align="center">

            <form action="/update/{{task.id}}" align="center" method="POST" >

                <input type="text" name="task" id = "task" value={{task.task}} ></br></br>
                <input type="time" name="time1" id="time1" value="{{task.time1}}">
                <input type="time" name="time2" id="time2" value="{{task.time2}}"></br></br>
                <input type="submit" value="Update" class="button">
    
            </form>
            

    </div>
    
</body>
</html>